[Unit]
Description=Factorio Headless Server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=factorio
Group=factorio
ExecStart=/opt/factorio/bin/x64/factorio --start-server /opt/factorio/saves/savegame1.zip --server-settings /opt/factorio/config/config.json --server-adminlist /opt/factorio/config/admins.json